name: Demo

on: [push]

jobs:
  demo:
    name: demo
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [16.x]
        os: [ubuntu-latest]
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm
      - run: npm ci
      - run: npm run selenium
      - run: |
          npx yatt-pipe \
            -c creds.json \
            -s results/selenium-results.xml \
            -T junit \
            -t yatt \
            -p
